{% extends "base.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Seat Number</th>
            <th>Ticket Type</th>
            <th>Bought At.</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{reservation.seat.seat_number}}</td>
            <td>{{ reservation.reservation_type }}</td>
            <td>{{reservation.created.date}} {{reservation.created.hour}}:{{reservation.created.minute}}</td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
{% endblock content %}